body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;

    text-align: center;
	justify-content: center;
	align-items: center;
}

#main {
    display: inline-block;

    margin-left: 1vw;
    margin-right: auto;
	margin-top: 1vw;
    text-align: left;

	width: 100%;
	height:100%;

	justify-content: center;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

#minimapImageDisplay {
    position: absolute;

	width: 15vw;
	height: 15vw;

	background-size: contain;
	background-position-x: center;

	background-repeat: no-repeat;

	margin-left: 0.5%;
	margin-top: 40%;
}


#varHunger {
    position: absolute;

    left: 18%;
    margin-top: 51%;

    background-color: #161616a8;
}

#varHungerRadar {
    position: absolute;

	width: 2.52vw;

    background-image: url(..img/radar.png);
	background-size: contain;
	background-position-x: center;

	height: 1.744vw;
	background-repeat: no-repeat;

    left: -0.651vw;
    margin-top: -0.265vw;

}


#varThirst {
    position: absolute;

    left: 21.5%;
    margin-top: 51%;

    background-color: #161616a8;

}

#varStress {
    position: absolute;

    left: 25%;
    margin-top: 51%;

    background-color: #161616a8;

}

#varAlcohol {
    position: absolute;
    left: 28.5%;
    margin-top: 51%;

    background-color: #161616a8;

}

#varDirt {
    position: absolute;
    left: 32%;
    margin-top: 51%;

    background-color: #161616a8;

}


#varHunting {
    
    position: absolute;

    margin-left: -0.5%;
    margin-top: 26%;

	width:  1.07vw;
	height:  1.07vw;
}

#varFarming {
    
    position: absolute;

    margin-left: -0.5%;
    margin-top: 29%;

	width:  1.07vw;
	height:  1.07vw;

}

#varMining {
    
    position: absolute;

    margin-left: -0.5%;
    margin-top: 32%;

	width:  1.07vw;
	height:  1.07vw;

}

#varLumberjacking {

    position: absolute;

    margin-left: -0.5%;
    margin-top: 35%;

	width:  1.07vw;
	height:  1.07vw;

}

#varFishing {
    
    position: absolute;

    margin-left: -0.5%;
    margin-top: 38%;

	width:  1.07vw;
	height:  1.07vw;

}

#varMic {
    
    position: absolute;

    margin-left: -0.50%;
    margin-top: 50%;

	width:  1.07vw;
	height:  1.07vw;

}

#varTemp  {
    position: absolute;
    margin-left: -0.50%;
    margin-top: 52%;
}


@media (min-aspect-ratio: 21/9) {
    
    #minimapImageDisplay {

        width: 11vw;
        height: 11vw;

        margin-left: 0.7%;
        margin-top: 30%;
    }

    #varHunting {
        margin-top: 17%;
    }
    
    #varFarming {
        margin-top: 20%;
    }
    
    #varMining {
        margin-top: 23%;
    }
    
    #varLumberjacking {
        margin-top: 26%;
    }
    
    #varFishing {
        margin-top: 29%;
    }

    #varMic {
        margin-top: 37.5%;
    }
    
    #varTemp  {
        margin-top: 39%;
    }

    #varThirst {
        margin-top: 38%;
    }
    
    #varStress {
        margin-top: 38%;
    }
    
    #varAlcohol {
        margin-top: 38%;
    }
    
    #varDirt {
        margin-top: 38%;

    }

    #varHunger {
        margin-top: 38%;
    }

}
